<mat-sidenav-container class="sidebar-container">
    <mat-sidenav class="sidebar" mode="side" opened={{isSidebarOpen}}>
      <app-profile></app-profile>
      <button
      mat-icon-button
      class="close-icon"
      aria-label="icon-button with close icon"
      (click)="toggleSidebar()"
      >
      <mat-icon class="primary-btn">close</mat-icon>
    </button>
      <mat-nav-list>
        <a mat-list-item routerLink="/">Home</a>
        <a mat-list-item routerLink="/products">Products</a>
        <a mat-list-item routerLink="/categories">Categories</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="main-content">
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>