@import "../../../../styles/constans/variables.scss";

.example-container{
    width: 100%;
    height: 100%;
    box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.2);    
    }
mat-sidenav{
    width: 250px;
    // background-color: white;
    // color: $primary-color !important;
}

.sidebar-top{
    display: flex;
    justify-content: space-between;
    height: 65px;
    align-items: center;
}
.menu-icon{
    font-size: 24px;
    align-self: center;
    color: $primary-color;
}

mat-nav-list a {
    color: $primary-color;
}