<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened={{isSidebarOpen}}>
      <div class="sidebar-top">
        <app-profile></app-profile>
          <button mat-icon-button class="menu-button" (click)="menuOpen()">
            <mat-icon class="menu-icon">close</mat-icon>
          </button>
        </div>
        <mat-nav-list>
          <a mat-list-item routerLink="/">Home</a>
          <a mat-list-item routerLink="/products">products</a>
          <a mat-list-item routerLink="/categories">categories</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>