@import '../../../../styles/scss/variable.scss';

.tool-bar-spacer {
  flex: 1 1 auto;
}
.logo {
  height: 40px;
}
.topbar-title {
  font-size: 25px;
  font-family: $default-font;
  color: $font-grey;
  margin-left: 1rem;
}
.mat-toolbar {
  background-color: transparent;
}

.a-tag {
  height: 40px;
  cursor: pointer;
}

.search-bar-spacer {
  flex: 0.5;
}
.login-span {
  margin-right: 1rem;
}
.login-btn {
  color:$font-grey !important;
  background-color: $background !important;
}
mat-icon{
  color: $font-grey;
}

.lower-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2rem;
  font-size: 14px;
  background-color: $background;;
  color: $primary-color;
  font-family: $default-font;
}
.mid-divider {
  border-color: grey;
  width: 100%;
  position: absolute;
  top: 4rem;
}
.bottom-divider {
  border-color: grey;
  width: 100%;
  position: absolute;
  top: 6rem;
}
.lower-navbar span {
  flex: 1;
  text-align: center;
}

.lower-navbar h1 {
  margin: 0;
  margin-top: 1rem;
}
.expand_more_icon {
  margin-top: 0.7rem;
  color: rgb(170, 170, 170);
}
.category {
  display: flex;
  flex: 1 1 auto;
}
.expand-icon-class {
  font-size: 11px;
  margin-top: 0.5rem;
}
.expand-icon-class:hover{
background-color: transparent;
}