<mat-toolbar>
    <mat-toolbar-row class="top-row">
      <button mat-icon-button class="menu-button" (click)="menuOpen()" [hidden]=isSidebarOpen>
        <mat-icon class="menu-icon">menu</mat-icon>
    </button>
<a class="logo" routerLink="/">
    <img src="assets/images/Yellow_E-commerce_Shop_Bag_Store_Logo.png" alt="">
</a>

<span class="title">KhareedLo</span>
<span class="spacer-left"></span>
<app-search-bar></app-search-bar>
<span class="spacer-right"></span>
<div class="top-bar-right">
<button mat-stroked-button class="login-button" routerLink="signup/register">
    Login/Register
  </button>
<button mat-icon-button class="favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="shopping-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>shopping_cart</mat-icon>
  </button>
</div>
</mat-toolbar-row>
<!-- <mat-divider class="top-nav-divider"></mat-divider> -->
<!-- <mat-toolbar-row class="second-row">
  <span *ngFor="let category of categories" class="category">
  <h1>{{ category.name }}</h1>
  <div
    class="expand-button" (click)="toggleCategory(category)">
    <mat-icon class="expand-icon">{{ category.expanded ? 'expand_less' : 'expand_more' }}</mat-icon>
  </div>
  </span>
</mat-toolbar-row> -->
<!-- <mat-divider class="secondary-nav-divider"></mat-divider> -->
</mat-toolbar>
