<mat-card class="signup-form">
  <div class="main-container">
    <div class="welcome-text-container">
      <h1 class="welcome-text">Enter OTP</h1>
    </div>
    <ng-otp-input
      #ngOtpInput
      (onInputChange)="onOtpChange($event)"
      [config]="otpConfig"
      class="register-form"
      ></ng-otp-input>

      <div class="resend-otp">
          <p class="err or-message" *ngIf="errorMessage">{{ errorMessage }}</p>
          <p mat-raised-button class="resend-otp-button" (click)="resendOtp()">Resend OTP?</p>
    </div>

    <div class="submit-container">
    <button mat-raised-button class="submit-button" (click)="submitOtp()">Submit</button>
    </div>
  </div>
</mat-card>
