<div class="main">
    <div class="row">
            <div class="button b2" id="button-10">
              <input type="checkbox" class="checkbox" (click)="toggleMode()" [(ngModel)]="isRegisterMode"  [routerLink]="isRegisterMode ?  'signup/register': 'signup/login'"/>
              <div class="knobs">
                <span >
                  Login
                </span>
              </div>
              <div class="layer"></div>

        </div>
        </div>


<div class="main-bottom">
    <div class="main-conatiner">
        <div class="form-container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
</div>
