<mat-card class="signup-form">
  <div class="main-container">
    <ng-content></ng-content>
  <!-- <div class="logo-container">
    <img class="logo-img" src="../../../assets/images/Yellow_E-commerce_Shop_Bag_Store_Logo.png" alt="Logo.png">
  </div> -->
  <div class="welcome-text-container">
    <h1 class="welcome-text">{{welcomeVar}}</h1>
  </div>
  <div>
<form [formGroup]="signupForm">
  <div formArrayName="users">
    <div *ngFor="let user of users.controls; let i = index" [formGroupName]="i" class="forms-container">
      <ng-container *ngFor="let key of getUserKeys()">
        <mat-form-field appearance="outline" id="form-field" class="form-field">
          <ng-container *ngIf="key !== 'Gender'">
          <input matInput [formControlName]="key" [placeholder]=" key | titlecase">
        </ng-container>
        <mat-error *ngIf="isFieldInvalid(user.get(key))">
          {{getErrorMessage(key)}}
        </mat-error>
          <ng-container *ngIf="key === 'Gender'">
            <mat-select [formControlName]="key" [placeholder]=" key | titlecase">
              <mat-option *ngFor="let option of genderOptions" [value]="option">{{option}}</mat-option>
            </mat-select>
            <mat-error *ngIf="isFieldInvalid(user.get(key))">
              {{getErrorMessage(key)}}
            </mat-error>
          </ng-container>
        </mat-form-field>
      </ng-container>
      <div class="submit-container">
        <button mat-raised-button *ngIf="nextButton" [disabled]="signupForm.invalid"  class="submit-button" (click)="nextBtnClicked()">Next</button>
        <button #submit mat-raised-button *ngIf="!nextButton" class="submit-button" [disabled]="signupForm.invalid" (click)="onSubmit()">Submit</button>
      </div>
    </div>
  </div>
</form>
</div>
</div>
</mat-card>