.forms-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    // height: 364px;
    overflow-y: auto;
    margin: 0;
    .form-field{
        width: 70%;
        border-radius: 8px;
    }
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    overflow: auto;
  }
  
  ::-webkit-scrollbar-thumb {
    background:  white;    
    border-radius: 30px;
    border: 2px solid transparent;
    background-clip: padding-box;
  }
  
  ::-webkit-scrollbar-thumb:hover{
    border: 0;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 30px;
  }
  ::-webkit-scrollbar-track:hover{
    background: grey;
  }

  .signup-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  .main-container{
    background-color: #333333;
    box-shadow: 0px 3.016px 9.326px 0px rgba(0, 0, 0, 0.29), 0px 7.249px 22.411px 0px rgba(0, 0, 0, 0.21), 0px 13.648px 42.198px 0px rgba(0, 0, 0, 0.17), 0px 24.347px 75.273px 0px rgba(0, 0, 0, 0.14), 0px 45.538px 140.791px 0px rgba(0, 0, 0, 0.12), 0px 109px 337px 0px rgba(0, 0, 0, 0.08);
    width: 550px;
    height: 508px;
    // padding: 60px 0 0 0;
    border-radius: 11px;
    .logo-container{
        display: flex;
        justify-content: center;
        // padding-top: 20px;
        .logo-img{
            // margin-top: 40px;
            height: 60px;        
            width: 60px;
            align-self: center;
        }
    }
    .welcome-text-container{

        .welcome-text{
            color: rgb(192, 192, 192);
            font-size: 30px;
            text-align: center;
            font-weight: 600;
            margin: 20px 0 15px 0;
        }
    }
}
  }

.submit-container{
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 30%;
    width: 100%;
    display: flex;
    .submit-button{
        min-height: 50px;
        width: 120px;
        border-radius: 30px;
        background-color: #4269E2;
        color: azure;
        font-size: 16px;
        margin: 0 0 4px 0;
    }
}