.otp-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 15px;
    background: none;
    margin-left: 5.4%;
  .main-container{
    background-color: #333333;
    box-shadow: 0px 3.016px 9.326px 0px rgba(0, 0, 0, 0.29), 0px 7.249px 22.411px 0px rgba(0, 0, 0, 0.21), 0px 13.648px 42.198px 0px rgba(0, 0, 0, 0.17), 0px 24.347px 75.273px 0px rgba(0, 0, 0, 0.14), 0px 45.538px 140.791px 0px rgba(0, 0, 0, 0.12), 0px 109px 337px 0px rgba(0, 0, 0, 0.08);
    width: 550px;
    height: 508px;
    border-radius: 11px;


    .resend-container{
        margin: 5px 60px 0px 0px;
        display: flex;
        justify-content: end;
        .resend-button{
            cursor: pointer;
            margin: 0;
            color: #4269E2;
            font-weight: 700;
        }
        .resend-button-disabled{
            color: rgb(94, 94, 94);
            font-weight: 700;
        }
    }
  }
}

.otp-form{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 18%;
}

.heading-text-container{

    .heading-text{
        color: rgb(192, 192, 192);
        font-size: 30px;
        text-align: center;
        font-weight: 600;
        margin: 20px 0 15px 0;
    }
}

.submit-container{
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 30%;
    width: 100%;
    display: flex;
    .submit-button{
        min-height: 50px;
        width: 120px;
        border-radius: 30px;
        background-color: #4269E2;
        color: azure;
        font-size: 16px;
        margin: 0 0 4px 0;
    }
    .submit-button:disabled{
        background-color: rgb(168, 168, 168);
        color: rgba(205, 205, 205, 0.551);
    }
}

.main{
    display: flex;
    flex-direction: row;
    .login-page-text{
        position: relative;
        margin-left: 4.6%;
        margin-top: 20%;

        // margin: 50% 30%;
        display: flex;
        flex-direction: column;
        // text-align: end;

        h3{
            font-size: 50px;
            font-weight: 600;
            color: #333333;
        }
        h1{
            font-size: 80px;
            font-weight: 900;
            color: white;

        }
    }
}
