/* master-layout.component.scss */
@import "../../styles/constans/variables.scss";

.app-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: #0f0f0f;
    overflow: auto;
  }
  .top-bar{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000; /* Adjust z-index as needed */
    // background-color: white;
    }
  .side-bar {
    background-color: #0f0f0f;
    // border-right: 0;
    // width: 240px;
    // height: 100%;
    display: flex;
    border: 0;
    margin: 0 4% 0 0 ;
    padding: 0;
    z-index: 2;
  }
  
  .main-container{
    display: flex;
    width: 100%;
    height: 100%;
    
    .body-content {
      width: 99%;
      flex: 1;
      overflow-y: auto; /* Allow body content to scroll if necessary */
      height: calc(100vh - 64px); /* Adjust the height based on the height of the toolbar (64px is just an example, replace with your actual toolbar height) */
        }
  }

  