/* master-layout.component.scss */
.app-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: black;
  }
  .top-bar{
    width: 100%;
    // height: 3rem;
  }
  .side-bar {
    // border-right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    border: 0;
    margin: 0;
    padding: 0;

  }
  
  .body-content {
    flex: 1;
    overflow: auto;
  }
