@import "../../../styles/constans/variables.scss";

.profile{
    width: 200px;
    display: flex;
    // justify-content: space-evenly;
    align-items: center;
    .profile-img{
        height: 50px;
        width: 50px;
    }
    .profile-name{
        font-size: 20px;
        font-weight: bold;
        margin-left: 20px;
        color: $primary-color;
    }
}